<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du Produit</th>
      <th scope="col">Prix</th>
      <th scope="col">Stock</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <div class="container">

    </div>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.stockQuantity }}</td>
      <td>{{ product.category.name }}</td>
      <td>
        <button class="btn btn-primary btn-sm"  (click)="updateProduct(product)">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger btn-sm ms-3" (click)="deleteProduct(product)">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
