<div class="modal-header">
  <h4 class="modal-title">Mettre à jour le produit</h4>
  <button type="button" class="btn-close" aria-label="Fermer" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="productForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="productName" class="form-label">Nom du produit</label>
      <input type="text" class="form-control" id="productName" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="productPrice" class="form-label">Prix</label>
      <input type="number" class="form-control" id="productPrice" formControlName="price">
    </div>
    <div class="mb-3">
      <label for="stockQuantity" class="form-label">Quantité en stock</label>
      <input type="number" class="form-control" id="stockQuantity" formControlName="stockQuantity">
    </div>
    <div class="mb-3">
      <label for="productCategory" class="form-label">Catégorie</label>
      <select class="form-select" id="productCategory" formControlName="category">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="productImage" class="form-label">Image du produit</label>
      <input type="file" class="form-control" id="productImage" (change)="onImageSelected($event)" accept="image/*" required formControlName="image">
    </div>
    <div class="mb-3">
      <label for="productDescription" class="form-label">Description du produit</label>
      <textarea class="form-control" id="productDescription" formControlName="description" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
</div>
