<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand p-2" href="#">
    <img src="assets/images/Labo-Logo.png" alt="labcntrol" style="max-width: 120px; height: auto;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a  routerLink="category" class="nav-link" href="#">Home <span class="sr-only">category</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link" href="#">product</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <!-- Profile dropdown menu with profile picture -->
    <div class="dropdown" id="profileDropdown">
      <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img [src]="profilePictureUrl" alt="Profile" class="profile-picture" id="profilePicture">
      </a>
      <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="profileDropdown">
        <a class="dropdown-item" href="#">Option 1</a>
        <a class="dropdown-item" href="#">Option 2</a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
    <!-- End of profile dropdown menu -->
  </div>
</nav>
<app-sidebar></app-sidebar>
