<div  class="modal-header">
  <h4 class="modal-title">Add New Category</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="categoryName" class="form-label">Category Name</label>
      <input type="text" class="form-control" id="categoryName" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="categoryDescription" class="form-label">Category Description</label>
      <textarea class="form-control" id="categoryDescription" formControlName="description" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
  </form>
</div>
